@import 'colors';
.navAsideMenu {
  height: 100%;

  li {
    position: relative;
    vertical-align: middle;

    &:nth-child(n+1):nth-child(-n+3) {
      display: inline-block;
    }

    &>button {
      height: 100%;
      font-size: 14px;
      color: $normal-text-black;
      font-weight: 600;
      line-height: 1;
      background: none;
    }

    // 햄버거 메뉴 버튼
    &:last-child {
      display: none;
    }

    // 아이콘 버튼
    .iconButtonBox {
      width: 38px;
      height: 28px;
      margin-top: 5px;
    }

    .iconButton {
      width: 19px;
      height: 19px;
    }

    &:nth-child(1),&:nth-child(2),&:last-child {
      @extend .iconButtonBox;

      button {
        padding: 0 10px;
      }
      .searchIcon {
        @extend .iconButton;
      }
      .alarmIcon, .menuIcon {
        @extend .iconButton;
        margin-right: 5px;
      }
    }
  }


}

// 프로필 버튼
.profileButton {
  display: flex;
  height: 32px;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  margin-right: 11px;

  .avatarBorder {
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #e1e2e3;
    background: #fff;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .avatarImage {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background: url(../images/profileImg.jpg) no-repeat 50%;
      background-size: cover;
    }
  }
}

// 프로필 버튼 new 뱃지
.newBadge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  box-sizing: border-box;
  padding-bottom: 1px;
  top: -1px;
  left: 25px;
  border-radius: 5px;
  background: $point-blue;
  width: 13px;
  height: 13px;
  color: white;
  font-size: 3px;
}

// 기업 서비스 버튼
.leftDivision {
  display: inline-flex;

  &::before {
    display: block;
    content: "";
    width: 1px;
    height: 10px;
    background: #e1e2e3;
    margin: auto 10px;
  }

  .dashboardButton {
    display: inline-block;
    vertical-align: bottom;
    font-size: 13px;
    color: #666;
    line-height: 30px;
    height: 30px;
    border: 1px solid #e1e2e3;
    border-radius: 15px;
    padding: 0 10px;
    margin: 0 0 0 15px;
    font-weight: 400;
  }
}