@import '_colors.scss';
header {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 50px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1);
  z-index: 100;

  & > div:first-child {
    position: relative;
    max-width: 1060px;
    margin: 0 auto;
    height: inherit;

    nav {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: space-between;
      height: inherit;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .mediaDiv, .container, .recommendedTagsBox .container {
    width: 87.72%;
  }
  .profilePopUpSmall {
    display: none;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mediaDiv, .container, .navSearchBox > div ,.recommendedTagsBox .container {
    width: 90%;
  }
  .profilePopUpSmall {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mediaDiv, .container, .navSearchBox > div, .recommendedTagsBox .container {
    width: 90%;
  }
  .profilePopUpSmall {
    display: none;
  }
}
@media only screen and (min-width: 995px) and (max-width: 1045px) {
  .mediaDiv .mainMenu {
    display: flex;
    justify-content: space-between;
    width: 60%;
    li {
      padding-left: 0!important;
      padding-right: 0!important;
    }
  }
}
@media only screen and (min-width: 768px) and (max-width: 994px) {
  .mediaDiv {
    width: 96%;
  }
  .mediaDiv .mainMenu {
    display: flex;
    flex: 1 0;
    justify-content: space-between;
    width: 55%;
    padding-left: 4px;
    li {
      padding-left: 0!important;
      padding-right: 0!important;
      font-size: 9px;
    }
  }
}
// appBar
@media only screen and (max-width: 767px) {
  header {
    height: 57px;
  }
  .mediaDiv {
    height: 57px;
  }
  // 원티드 text logo
  .text-logo-container {
    display: none;
  }
  .mainMenu li:hover:not(.selectedNav) {
    box-shadow: none;
  }
  .mainMenu .selectedNav:hover {
    box-shadow: inset 0 -2px #258bf7;
  }

  // 홈 버튼
  .mainMenu li:first-child {
    display: block;
    padding: 14px 13px 0 20px;
  }
  // 직군별 연봉 ~ AI 합격 예측 버튼
  .mainMenu li:nth-child(n+4):nth-child(-n+8) {
    display: none;
  }
  // 알람 버튼
  .navAsideMenu .alarmIcon {
    margin-right: 0 !important;
  }
  // 햄버거 메뉴 버튼
  .navAsideMenu li:last-child {
    display: inline-block;
  }
  // 프로필 버튼
  .navAsideMenu .profileBox {
    display: none !important;
  }
  // 기업 서비스 버튼
  .navAsideMenu .leftDivision {
    display: none;
  }

  .dropDownMenu {
    display: none !important;
  }

  .navSearchBox > div {
    width: 100%;
    padding: 20px
  }
  .navSearchBox form button {
    display: block !important;
  }
  .recommendedTagsBox {
    height: calc(100% - 50px);
    background: #fff;
    overflow-y: auto;
  }
  .recommendedTagsBox .container {
    padding: 38px 20px 20px;

    // 기업 태그 홈
   .bigCompanyTag {
     display: none;
    }
    .smallCompanyTag {
      display: block;
    }

  }
  .recommendedTagsBox .container ul {
    padding: 20px 0 40px;
    & li {
      font-size: 16px;
      margin-bottom: 0;
    }
    & li:nth-child(n+2):nth-child(-n+5) {
    margin-left: 0;
  }
    & li button {
      margin: 5px 4px 0 0;
      font-size: 13px;
      padding: 0 12px;
      height: 34px;
      line-height: 34px;
    }
  }

  .alarmPopUp {
    position: fixed;
    top: 57px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-top: 1px solid #e1e2e3;
    transform: none;

    & > div > div {
      width: 100%;
      height: 100%;
      max-height: none;
      border: 0;
      box-shadow: none;
      border-radius: 0;
    }
    & ul > li:not(:nth-child(1))::before {
      width: calc(100% - 40px);
    }
    & ul > li > div {
      margin: 0;
      padding: 19px 16px 20px 20px !important;

      &:hover {
        border-radius: 8px;
        background: inherit;
      }
    }

    & ul >li div > p.notiStory {
      width: 100%;
    }

    .bubbleTail {
      display: none;
    }
  }

  .profilePopUp .popUpFirstRow {
    display: block;
  }

  .ProfilePopUpList {
    display: none;
  }

  .profilePopUpSmall {
    display: block;
    background: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin-top: 0;
    transform: none;

    padding: 0 !important;

    & > div {
      box-shadow: none;
      border: 1px solid #e1e2e3;
      border-radius: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 20px;
    }

    .popUpFirstRow {
      height: 50px;
      width: 100%;
      i {
        display: inline-block;
        position: relative;
        top: -4px;
        width: 61px;
        height: 31px;
        background: url("../images/logo_wanted_symbol.png") no-repeat center;
        background-size: contain;
        line-height: 1;
        padding: 0;
        margin: 13px 0;
      }
      button {
        position: relative;
        top: -4px;
        left: 7px;
        float: right;
        background: none;
        color: $menu-light-gray;

        svg {
          font-size: 36px;
          line-height: 1;
          margin: 12px 0;
        }
      }
    }

    .profilePopUpListSmall {
      margin: 45px 0 15px;

      li {
        width: 100%;
        height: auto;
        color: $normal-text-black;
      }
      li a {
        padding: 15px 0;
        font-size: 20px;
        font-weight: 500;
        line-height: 1;
        position: relative;
        display: block;
        width: 100%;
      }
      li:first-child a > span {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          display: inline-block;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: $point-blue;
          top: 4px;
          right: -10px;
        }
      }
      .profilePic {
        background: url('../images/profileImg.jpg') no-repeat 50%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        background-size: cover;

        border: 1px solid #fff;
        box-shadow: 0 0 0 1px $point-blue;
        width: 42px!important;
        height: 42px!important;

        span {
          position: absolute;
          width: 16px;
          height: 16px;
          top: -5px;
          right: -6px;
          display: inline-flex;
          background: $point-blue;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          border-radius: 5px;
          color: #fff;
          font-size: 6px;
          padding-left: 4px;
        }
      }

      li:nth-child(3), li:nth-child(8), li:nth-child(10) {
        padding-top: 15px;
        border-top: 1px solid #eee;
        margin-top: 15px;
      }
      li:last-child a {
        color: $menu-light-gray;
      }
    }
  }
}