@mixin reset_h() {
  margin: 0;
  font-size: 1em;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
  outline: none;
}

button {
  padding: 0;
  border: none;
  outline-style: none;
  cursor: pointer;
}

input {
  border: none;
  outline-style: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  list-style: none;
}

h2 {
  @include reset_h();
}

h3 {
  @include reset_h();
}

h4 {
  @include reset_h();
}